<div style="margin-bottom: 20px">
  <label for="showEvenValues">Only Show Even Values</label>
  <input
    type="checkbox"
    id="showEvenValues"
    [ngModel]="onlyShowEvenValue"
    (ngModelChange)="onlyShowEven($event)"
  />
</div>

<table style="width: 600px">
  <thead>
    <th>
      <input
        type="checkbox"
        id="selectAllItems"
        [checked]="pagerSelection.currentPageSelected$ | async"
        (change)="handleSelectAllItemsChange($event)"
      />
    </th>
    <th>ID</th>
    <th>Name</th>
    <th>Value</th>
  </thead>
  @for (item of pager.currentPage; track item.id){
  <tr>
    <td>
      <input
        type="checkbox"
        id="item{{ item.id }}"
        [checked]="selection.isSelectedMultiple([item])"
        (change)="handleSelectItemChange($event, item)"
      />
    </td>
    <td>
      <label for="item{{ item.id }}">{{ item.id }} </label>
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.value }}</td>
  </tr>
  }
</table>
<div style="padding-top: 15px; padding-left: 15px">
  <button
    style="margin-right: 20px"
    [disabled]="!pager.hasPreviousPage"
    (click)="pager.previousPage()"
  >
    Previous
  </button>
  <button [disabled]="!pager.hasNextPage" (click)="pager.nextPage()">
    Next
  </button>
</div>
